<head>
<meta charset="UTF-8">
</head>
<div>
  <h1>Chercher</h1>
</div>
<div class="container spacer">
<form>
 <label>Keys words in Description:</label>
<input type="text" ng-model="motCle">
<button ng-click="getProduits()">Lookup</button>
</form>
<br>
<form>
<label>Keys words in Product Name:</label>
<input type="text" ng-model="motCleName">
<button ng-click="getProduitsByName()">Lookup</button>
</form>
</div>
<div class="container spacer">
<table class="table table-striped">
    <thead>
       <tr>
        <th>ID</th><th>CodeEAN13</th><th>Description<th>Product Name</th>
       </tr>
     </thead>
 <tbody>
     <tr ng-repeat="p in pageProduits.content">
        <td>{{p.id}}</td>
        <td>{{p.codeEan13}}</td>
        <td>{{p.description}}</td>
        <td>{{p.productName}}</td>
     </tr>
</tbody>
 
 
</table>
</div>
<div class="container">
    <ul class="nav nav-pills">
         <li ng-class="{active:$index==pageCourante}" ng-repeat="p in pages track by $index" class="clickable">
          <a ng-click="goToPage($index)">{{$index}}</a>
         </li>
    </ul>
</div>
